<% @posts.each do |post| %>
  <div class="post">
    <div class="post-header">
      <span><%= link_to "#{post.title}", post_path(post) %></span>
      <p><%= post.created_at.strftime("%d %b %y") %></p>
    </div>

    <%= link_to image_tag(post.photo_url, class: "post-photo"), post_path(post) %>
    <p><%= post.content %></p>
    <div class="post-edit-delete">
      <a href="/posts/<%= post.id %>/edit">Edit</a>
    </div>
  </div>
<% end %>
